
.vinyl{
	background-color: #ffa500;
	// padding-top: 35px;
	position: relative;

	&_decoration{
		border-style: solid;
		border-width: 100px 0 0 2000px;
		border-color: transparent #ffa500;
		margin-bottom: -2px;
	}
	&-title{
		color: #000000;
	}
	&_tab{
		width: 80%;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 22px;
		color: #ffffff;
		text-align: center;
		background: #320000;
		padding:25px;
		border-radius: 10px;
		user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
		    -ms-user-select: none;
		cursor: pointer;
		&:first-child{
			margin-bottom: 10px;
		}
		&.tab_active{
			background: #660000;
		}
		&-block{
			display: flex;
			flex-direction: column;
			width: 100%;
			justify-content: center;
			align-items: center;
			background-color: #000000;

			&:before{
				content:'';
				border-style: solid;
			    border-width: 100px 0 0 2000px;
			    border-color: #ffa500 #ffa500 #ffa500 #000000;
			    margin-bottom: -2px;
			}
		}
	}
	&_btn-more{
		background: #ffa500;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		margin:25px auto 5px auto;
	    display: flex;
    	flex-direction: column;
    	justify-content: flex-start;
		align-items: center;
	    cursor: default;
	    user-select: none;
	    position: relative;
	    &-l,
	    &-r{
	    	font-family: 'Montserrat', sans-serif;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 400;
			color:#ffffff;
	    }
	    &-l{
	    	position: absolute;
			top: 0;
			left: -110px;
	    }
	   	&-r{
	    	position: absolute;
	    	top:0;
	    	left:53px;
	    }
	    &:before{
			content: '';
			width: 130px;
			height: 0;
			position: absolute;
			left: -41px;
			top: 23px;
			border: 2px solid #ffa500;
			border-radius: 5px;
	    }

	    &-decoration{
			width: 50px;
			height: 50px;
			animation: rotate 7s linear infinite;
	    }
	    &-description{
			font-family: 'Montserrat', sans-serif;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 400;
	    }
	}
	&_btn-up{
		width: 50px;
	    height: 50px;
	    background-color: rgba(255, 255, 255, 0.8);
	    position: absolute;
	    bottom: 80px;
	    right: 25px;
	    border-radius: 50%;
	    &:hover{
	    	animation: shakeIt 0.25s ease-in-out
;
	    }
	}


	&_block{
		display: none;
		&.vinyl_block_active{
			display: flex;
			flex-direction: column;
			background: #000000;
		}
		&-item{
			width:300px;
			height:300px;
			margin: 5px auto;
			position: relative;
		}
		&-img{
			width:300px;
			height:300px;
		}
	}

}
@keyframes rotate {
		  from {
		    transform: rotate(360deg);
		    transform-origin: 50% 50%;
		  }
		}
@keyframes shakeIt {
		  0% {
		    transform: rotate(0deg);
		    
		  }
		  25% {
			transform: rotate(10deg);
		  }
		  50% {
			transform: rotate(0deg);
		  }
		  75% {
			transform: rotate(-10deg);
		  }
		  100% {
			transform: rotate(0deg);
		  }
		}		