.novelty{
	background-color: $main-bgcolor;
	padding: 100px 0;
	&__block{
		margin-top: 50px;
	}
	&__item{
		width: 350px;
		height: 350px;
		position: relative;
		&-main{
		border-radius: 50%;
		overflow: hidden;
		transition: border-radius 0.1s ease;
		position: relative;
		cursor: pointer;
			&:hover{
				border-radius: 10%;
				transition: border-radius 0.1s ease;
			}
		}
		&-slide{
			position: absolute;
			top: 0;
			right: -50px;
			width: 45px;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			&_pic{
				border-radius: 50%;
				margin-bottom: 10px;
				cursor: pointer;
			}
		}
	}
}
