.novelty{
    min-height: 800px;
    background-color: black;
    height: 900px;
    &:before{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 200px 2000px;
        border-color: transparent transparent black transparent;
        -webkit-transform: translateY(-198px);
                transform: translateY(-198px);
	}
	&-title{
		text-align: right;
	}
	&_block{
		height: 350px;
		&-trg{
			outline: none;
		}
		&-item{
    		position: relative;
    		background-color: transparent;
    		height: 350px;
    		margin: 0 10px;
    		overflow: hidden;
    		cursor: pointer;
		}
		&-img{
			width: 100%;
			position: absolute;
			background-size: contain;
			top:0;
			left: 0;
		}
		&-title{
			font-family: 'Montserrat', sans-serif;
			font-size: 20px;
			width: calc(100% - 30px);
			min-height: 46px;
			text-align: right;
			padding-right: 25px;
			color: #ffffff;
			position: absolute;
			top:-50px;
			right: 0;
			margin: 0;
		}
		&-line{
			font-family: 'Montserrat', sans-serif;
			color: #ffffff;
			width: 0%;
			border-bottom:4px solid white;			
			color: #ffffff;
			position: absolute;
			top:65px;
			right:25px;

		}
		&-album{
			font-family: 'Montserrat', sans-serif;
			color: #ffffff;
			position: absolute;
			top: 75px;
			right: 25px;
			width: calc(100% - 35px);
			text-align: right;
			min-height: 80px;
			opacity: 0;
		}
		&-hidden{
			display: none;
		}
	}
	&_popap {
		display: flex;
		flex-direction: row;
		justify-content: center;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		cursor: default;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		span{
			font-weight: normal;
		}
		&-price-s{
			font-weight: normal;
		}
		&-title{
			font-size: 20px;
			margin: 0 0 10px 0;
		}
		&-album{
			font-size: 16px;
			font-weight: normal;
			&:after{
				content: '';
				display: block;
				width: 100%;
				margin-top: 20px;
				border-bottom: 2px solid black; 
			}
		}

		&-wrapper{
			display: none;
		}
		&-left,
		&-right{
			width: 50%;
			min-height: 415px;
		}
		&-img{
			max-width: 310px;
			max-height: 310px;
			border-radius: 5px;

			&-block{
				position: relative;
			}

			&-1{
				position:absolute;
				top:0;
				left: 0;
				width: 310px;
				height: 310px;
			}
			&-2{
				position:absolute;
				top:315px;
				left: 0;
				width: 100px;
				height: 100px;
			}
			&-3{
				position: absolute;
				left: 105px;
				top: 315px;
				width: 100px;
				height: 100px;
			}
			&-4{
				position: absolute;
				left: 210px;
				top: 315px;
				width: 100px;
				height: 100px;
			}
		}
	}
}

/* animation-part */
.novelty_block-item:hover{
	.novelty_block{

		&-img{
		opacity:0.6 !important;
		transition: 1s;
		}
		&-title{
			color: #ffffff;
			position: absolute;
			top:15px;			
			transition: 1s;
		}
		&-line{
			width: 50%;
			transition: 0.5s;
			transition-timing-function: ease-in-out;
			border-radius: 25px;

		}
		&-album{
			opacity: 1;
			transition: 0.5s;
		}
	}
}


.fancybox-wrap,
.fancybox-inner{
	width: 650px !important;
	padding: 10px;
}

.fancybox-image, .fancybox-inner, .fancybox-nav, .fancybox-nav span, .fancybox-outer, .fancybox-skin, .fancybox-tmp, .fancybox-wrap, .fancybox-wrap iframe, .fancybox-wrap object{
	border-radius:10px;
}

@media (max-width:767px){

}
