{% set data = [
    {
        photo:'',
        title_group: 'Group Name',
        title_album: 'Album Name',
        short_description: 'short-description maybe',
        full_description: 'mayby long story about albom and group',
        remark: 'colored vinyl',
        country: 'USSSR',
        envelope_status: 'EX',
        plate_status: 'G',
        price: '400'
    },
    {
        photo:'',
        title_group: 'Group Name2',
        title_album: 'Album Name longname title title longest long',
        short_description: 'short-description maybe',
        full_description: 'mayby long story about albom and group',
        remark: 'witout somthing',
        country: 'UK',
        envelope_status: 'EX+',
        plate_status: 'VG',
        price: '350'
    },
    {
        photo:'',
        title_group: 'Group Name3',
        title_album: 'Album 3 long',
        short_description: 'short-description maybe short-description maybe short-description maybe',
        full_description: 'mayby long story about albom and group',
        remark: 'witout somthing',
        country: 'UK',
        envelope_status: 'EX+',
        plate_status: 'VG',
        price: '350'
    },
    {
        photo:'',
        title_group: 'Group Name4',
        title_album: 'Album 545 long',
        short_description: 'short-description maybe n maybe',
        full_description: 'mayby long story about albom and group',
        remark: 'witout somthing',
        country: 'UK',
        envelope_status: 'EX+',
        plate_status: 'VG',
        price: '350'
    },
    {
        photo:'',
        title_group: 'Group Name5',
        title_album: 'Album2 long',
        short_description: 'short-description maybe n maybe',
        full_description: ' bdr db db drbvgdrrrrrrrrrrr drbgd d rdg drg mayby long story about albom and group',
        remark: 'witout',
        country: 'UK',
        envelope_status: 'EX+',
        plate_status: 'VG',
        price: '350'
    },
    {
        photo:'',
        title_group: 'Group Name6',
        title_album: 'Album2 long',
        short_description: 'short-description maybe n maybe',
        full_description: ' bdr db db drbvgdrrrrrrrrrrr drbgd d rdg drg mayby long story about albom and group',
        remark: 'witout',
        country: 'UK',
        envelope_status: 'EX+',
        plate_status: 'VG',
        price: '350'
    }
    ]
%}
