{% set data = [
    {
        photo_main:'/img/novelty/beatles/white/1.jpg',
        photo_2: '/img/novelty/beatles/white/2.jpg',
        photo_3: '/img/novelty/beatles/white/3.jpg',
        photo_4: '/img/novelty/beatles/white/4.jpg',
        title_artist: 'The Beatles lkbyyjt yfpdfbyt fkm,jvf vf',
        title_album: 'White Album',
        photo_alt: 'White Album The Beatles LP',
        type:'LP',
        label: 'Мелодия',
        country: 'USSSR',
        label_disc: 'UAS 29885',
        short_description: 'This is minimalistic, but fantastic album famous group in the world.',
        full_description: 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?',
        remark: 'colored vinyl',
        envelope_status: 'EX',
        plate_status: 'G',
        price: '400'
    },
    {
        photo_main:'/img/novelty/beatles/white/2.jpg',
        photo_2: '/img/novelty/beatles/white/2.jpg',
        photo_3: '/img/novelty/beatles/white/3.jpg',
        photo_4: '/img/novelty/beatles/white/4.jpg',
        title_artist: 'The Beatles',
        title_album: 'Album title',
        photo_alt: 'White Album The Beatles LP',
        type:'LP',
        label: 'Мелодия',
        country: 'USSSR',
        label_disc: 'UAS 29885',
        short_description: 'This is minimalistic, but fantastic album famous group in the world.',
        full_description: 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?',
        remark: 'colored vinyl',
        envelope_status: 'EX',
        plate_status: 'G',
        price: '400'
    },
    {
        photo_main:'/img/novelty/beatles/white/3.jpg',
        photo_2: '/img/novelty/beatles/white/2.jpg',
        photo_3: '/img/novelty/beatles/white/3.jpg',
        photo_4: '/img/novelty/beatles/white/4.jpg',
        title_artist: 'The Beatles',
        title_album: 'White Album',
        photo_alt: 'White Album The Beatles LP',
        type:'LP',
        label: 'Мелодия',
        country: 'USSSR',
        label_disc: 'UAS 29885',
        short_description: 'This is minimalistic, but fantastic album famous group in the world.',
        full_description: 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?',
        remark: 'colored vinyl',
        envelope_status: 'EX',
        plate_status: 'G',
        price: '400'
    },
    {
        photo_main:'/img/novelty/beatles/white/4.jpg',
        photo_2: '/img/novelty/beatles/white/2.jpg',
        photo_3: '/img/novelty/beatles/white/3.jpg',
        photo_4: '/img/novelty/beatles/white/4.jpg',
        title_artist: 'The Beatles',
        title_album: 'White Album',
        photo_alt: 'White Album The Beatles LP',
        type:'LP',
        label: 'Мелодия',
        country: 'USSSR',
        label_disc: 'UAS 29885',
        short_description: 'This is minimalistic, but fantastic album famous group in the world.',
        full_description: 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?',
        remark: 'colored vinyl',
        envelope_status: 'EX',
        plate_status: 'G',
        price: '400'
    },
    {
        photo_main:'/img/novelty/beatles/white/1.jpg',
        photo_2: '/img/novelty/beatles/white/2.jpg',
        photo_3: '/img/novelty/beatles/white/3.jpg',
        photo_4: '/img/novelty/beatles/white/4.jpg',
        title_artist: 'The Beatles',
        title_album: 'White Album',
        photo_alt: 'White Album The Beatles LP',
        type:'LP',
        label: 'Мелодия',
        country: 'USSSR',
        label_disc: 'UAS 29885',
        short_description: 'This is minimalistic, but fantastic album famous group in the world.',
        full_description: 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?',
        remark: 'colored vinyl',
        envelope_status: 'EX',
        plate_status: 'G',
        price: '400'
    },
    {
        photo_main:'/img/novelty/beatles/white/2.jpg',
        photo_2: '/img/novelty/beatles/white/2.jpg',
        photo_3: '/img/novelty/beatles/white/3.jpg',
        photo_4: '/img/novelty/beatles/white/4.jpg',
        title_artist: 'The Beatles',
        title_album: 'White Album',
        photo_alt: 'White Album The Beatles LP',
        type:'LP',
        label: 'Мелодия',
        country: 'USSSR',
        label_disc: 'UAS 29885',
        short_description: 'This is minimalistic, but fantastic album famous group in the world.',
        full_description: 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?',
        remark: 'colored vinyl',
        envelope_status: 'EX',
        plate_status: 'G',
        price: '400'
    },
    {
        photo_main:'/img/novelty/beatles/white/3.jpg',
        photo_2: '/img/novelty/beatles/white/2.jpg',
        photo_3: '/img/novelty/beatles/white/3.jpg',
        photo_4: '/img/novelty/beatles/white/4.jpg',
        title_artist: 'The Beatles',
        title_album: 'White Album',
        photo_alt: 'White Album The Beatles LP',
        type:'LP',
        label: 'Мелодия',
        country: 'USSSR',
        label_disc: 'UAS 29885',
        short_description: 'This is minimalistic, but fantastic album famous group in the world.',
        full_description: 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?',
        remark: 'colored vinyl',
        envelope_status: 'EX',
        plate_status: 'G',
        price: '400'
    }
    ]
%}
