/*************/
/* Defaults */
@import 'common/_style';
@import 'common/_normalize';

/***********/
/* Blocks */
@import 'header/_style';
@import 'header_title/_style';
@import 'novelty/_style';
@import 'vinyl/_style';
@import 'time/_style';


