{% set data = [
    {
        photo_main:'/img/common/police/synchronicity/pic-1.jpg',
        photo_2: '/img/common/police/synchronicity/pic-2.jpg',
        photo_3: '/img/common/police/synchronicity/pic-3.jpg',
        photo_4: '/img/common/police/synchronicity/pic-4.jpg',
        title_artist: 'The Police',
        title_album: 'Synchronicity',
        photo_alt: 'LP Police Synchronicity',
        type:'LP',
        label: 'A&M Records',
        country: 'UK',
        label_disc: 'AMLX 63735',
        short_description: '',
        full_description: '',
        remark: 'colored vinyl',
        envelope_status: '4/5',
        plate_status: '4/5',
        price: '1200'
    },
    {
        photo_main:'/img/common/coltrane/My Favorite Things/pic-1.jpg',
        photo_2: '/img/common/coltrane/My Favorite Things/pic-2.jpg',
        photo_3: '/img/common/coltrane/My Favorite Things/pic-3.jpg',
        photo_4: '/img/common/coltrane/My Favorite Things/pic-4.jpg',
        title_artist: 'Coltrane John',
        title_album: 'My Favorite Things',
        photo_alt: 'LP Coltrane John My Favorite Things',
        type:'2 LP',
        label: 'Not Now Music',
        country: 'USSSR',
        label_disc: 'NOT2LP149',
        short_description: '',
        full_description: '',
        remark: 'colored vinyl',
        envelope_status: '5/5',
        plate_status: '4/5',
        price: '2300'
    },
    {
        photo_main:'/img/common/police/synchronicity/pic-1.jpg',
        photo_2: '/img/common/police/synchronicity/pic-2.jpg',
        photo_3: '/img/common/police/synchronicity/pic-3.jpg',
        photo_4: '/img/common/police/synchronicity/pic-4.jpg',
        title_artist: 'The Police',
        title_album: 'Synchronicity',
        photo_alt: 'LP Police Synchronicity',
        type:'LP',
        label: 'A&M Records',
        country: 'UK',
        label_disc: 'AMLX 63735',
        short_description: '',
        full_description: '',
        remark: 'colored vinyl',
        envelope_status: '4/5',
        plate_status: '4/5',
        price: '1200'
    },
    {
        photo_main:'/img/common/coltrane/My Favorite Things/pic-1.jpg',
        photo_2: '/img/common/coltrane/My Favorite Things/pic-2.jpg',
        photo_3: '/img/common/coltrane/My Favorite Things/pic-3.jpg',
        photo_4: '/img/common/coltrane/My Favorite Things/pic-4.jpg',
        title_artist: 'Coltrane John',
        title_album: 'My Favorite Things',
        photo_alt: 'LP Coltrane John My Favorite Things',
        type:'2 LP',
        label: 'Not Now Music',
        country: 'USSSR',
        label_disc: 'NOT2LP149',
        short_description: '',
        full_description: '',
        remark: 'colored vinyl',
        envelope_status: '5/5',
        plate_status: '4/5',
        price: '2300'
    },
    {
        photo_main:'/img/common/police/synchronicity/pic-1.jpg',
        photo_2: '/img/common/police/synchronicity/pic-2.jpg',
        photo_3: '/img/common/police/synchronicity/pic-3.jpg',
        photo_4: '/img/common/police/synchronicity/pic-4.jpg',
        title_artist: 'The Police',
        title_album: 'Synchronicity',
        photo_alt: 'LP Police Synchronicity',
        type:'LP',
        label: 'A&M Records',
        country: 'UK',
        label_disc: 'AMLX 63735',
        short_description: '',
        full_description: '',
        remark: 'colored vinyl',
        envelope_status: '4/5',
        plate_status: '4/5',
        price: '1200'
    },
    {
        photo_main:'/img/common/coltrane/My Favorite Things/pic-1.jpg',
        photo_2: '/img/common/coltrane/My Favorite Things/pic-2.jpg',
        photo_3: '/img/common/coltrane/My Favorite Things/pic-3.jpg',
        photo_4: '/img/common/coltrane/My Favorite Things/pic-4.jpg',
        title_artist: 'Coltrane John',
        title_album: 'My Favorite Things',
        photo_alt: 'LP Coltrane John My Favorite Things',
        type:'2 LP',
        label: 'Not Now Music',
        country: 'USSSR',
        label_disc: 'NOT2LP149',
        short_description: '',
        full_description: '',
        remark: 'colored vinyl',
        envelope_status: '5/5',
        plate_status: '4/5',
        price: '2300'
    }
    ]
%}
