$anim_time: 1s;

.header{
   background-color: #000000;    
    display: block;
    height: 50px;
    width: 100%;
    position:relative;

  &__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

    &-link{
    margin-top: 25px;
    color: #b6b6b6;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    }
    &-link:hover{
    color: #FFFFFF;
    transition: 0.5s; 
    }   
  }

  &:after{
    content: "";
    display: inline-block;
    border-style: solid;
    border-width: 200px 2000px 0 0;
    border-color: #000000 transparent transparent transparent;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 10;
  }
  &-background{
    background-image: url("/img/header/background-phone.png"); 
    background-repeat: repeat;
    background-attachment: fixed;
    height: 550px;
    box-sizing: border-box;

  }

  &__menu-btn,
  &__m-nav{
    display: none;
  }
}

.d-show {
  display: none;
}
@media (max-width:1100px){
  .header-background{
    height: 500px;
}

}

@media (max-width:550px){
  .header{
    height: 100px;
    &:after{
      border-width: 100px 1000px 0 0;
      top:100px;
    }

    &-background {
    height: 355px;
  }
  }
  .header__nav{
    display:none;
  }
  .a-show {
    display: flex;
    -webkit-animation: link-visible;
    animation: link-visible $anim_time ease-in-out;
  }
  @-webkit-keyframes link-visible {
    0% { opacity: 0; }
    25% { opacity: 0.25; }
    50% {opacity: 0.5; }
    75% {opacity: 0.75; }
    100% {opacity: 1; }
  }
  @keyframes link-visible {
    0% { opacity: 0; }
    25% { opacity: 0.25; }
    50% {opacity: 0.5; }
    75% {opacity: 0.75; }
    100% {opacity: 1; }
  }
  .header__m-nav-link:hover{
    color: #FFFFFF;
    transition: 0.5s;
  }
  .header__m-nav{
    flex-direction: column;
  }
  .header__menu-btn{
    display: block;
  }
  .header__m-nav{
    position: absolute;
    top:40px;
    width: calc(100% - 120px);
    padding-left: 25px;
    z-index: 15;
    
  }
  .header__m-nav-link {
    color: #b6b6b6;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }


}


/*OPEN*/

@-webkit-keyframes topBar_open {
  0% { -webkit-transform: translateY(0px) rotate(0deg) ; transform: translateY(0px) rotate(0deg) ; width: 60px; }
  10% {-webkit-transform: translateY(-8px) rotate(0deg);transform: translateY(-8px) rotate(0deg); width: 60px; }
  50% {-webkit-transform: translateY(25px) rotate(45deg);transform: translateY(25px) rotate(45deg); width: 34px; }
  75% {-webkit-transform: translateY(12px) rotate(45deg);transform: translateY(12px) rotate(45deg); width: 34px; }
  100% {-webkit-transform: translateY(17px) rotate(45deg);transform: translateY(17px) rotate(45deg); width: 34px; }
}

@keyframes topBar_open {
  0% { -webkit-transform: translateY(0px) rotate(0deg) ; transform: translateY(0px) rotate(0deg) ; width: 60px; }
  10% {-webkit-transform: translateY(-8px) rotate(0deg);transform: translateY(-8px) rotate(0deg); width: 60px; }
  50% {-webkit-transform: translateY(25px) rotate(45deg);transform: translateY(25px) rotate(45deg); width: 34px; }
  75% {-webkit-transform: translateY(12px) rotate(45deg);transform: translateY(12px) rotate(45deg); width: 34px; }
  100% {-webkit-transform: translateY(17px) rotate(45deg);transform: translateY(17px) rotate(45deg); width: 34px; }
}

@-webkit-keyframes bottomBar_open {
  0% { -webkit-transform: translateY(0px) rotate(0deg) ; transform: translateY(0px) rotate(0deg) ; width: 60px; }
  10% { -webkit-transform: translateY(-8px) rotate(0deg) ; transform: translateY(-8px) rotate(0deg) ; width: 60px; }
  60% {-webkit-transform: translateY(0px) rotate(-45deg);transform: translateY(0px) rotate(-45deg); width: 34px; }
  75% {-webkit-transform: translateY(-10px) rotate(-45deg);transform: translateY(-10px) rotate(-45deg); width: 34px; }
  100% {-webkit-transform: translateY(-8px) rotate(-45deg);transform: translateY(-8px) rotate(-45deg); width: 34px; }
}

@keyframes bottomBar_open {
  0% { -webkit-transform: translateY(0px) rotate(0deg) ; transform: translateY(0px) rotate(0deg) ; width: 60px; }
  10% { -webkit-transform: translateY(-8px) rotate(0deg) ; transform: translateY(-8px) rotate(0deg) ; width: 60px; }
  60% {-webkit-transform: translateY(0px) rotate(-45deg);transform: translateY(0px) rotate(-45deg); width: 34px; }
  75% {-webkit-transform: translateY(-10px) rotate(-45deg);transform: translateY(-10px) rotate(-45deg); width: 34px; }
  100% {-webkit-transform: translateY(-8px) rotate(-45deg);transform: translateY(-8px) rotate(-45deg); width: 34px; }
}

@-webkit-keyframes menuLabel_open {
  0% { -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 1; }
  25% {-webkit-transform: translateY(-18px);transform: translateY(-18px); }
  45% {-webkit-transform: translateY(44px);transform: translateY(44px); opacity: 1; }
  48% {-webkit-transform: translateY(50px);transform: translateY(50px); opacity: 0; }
  100% {-webkit-transform: translateY(30px);transform: translateY(30px); opacity: 0; }
}

@keyframes menuLabel_open {
  0% { -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 1; }
  25% {-webkit-transform: translateY(-18px);transform: translateY(-18px); }
  45% {-webkit-transform: translateY(44px);transform: translateY(44px); opacity: 1; }
  48% {-webkit-transform: translateY(50px);transform: translateY(50px); opacity: 0; }
  100% {-webkit-transform: translateY(30px);transform: translateY(30px); opacity: 0; }
}

/* CLOSE*/

@-webkit-keyframes topBar_close {
  0% {-webkit-transform: translateY(17px) rotate(45deg);transform: translateY(17px) rotate(45deg); width: 84px; }
  35% {-webkit-transform: translateY(-8px) rotate(-4deg);transform: translateY(-8px) rotate(-4deg); width: 60px; }
  53% {-webkit-transform: translateY(10px) rotate(3deg);transform: translateY(10px) rotate(3deg); width: 60px; }
  70% {-webkit-transform: translateY(-6px) rotate(0deg);transform: translateY(-6px) rotate(0deg); width: 60px; }
  100% { -webkit-transform: translateY(-2px) rotate(0deg) ; transform: translateY(-2px) rotate(0deg) ; width: 60px; }
}

@keyframes topBar_close {
  0% {-webkit-transform: translateY(17px) rotate(45deg);transform: translateY(17px) rotate(45deg); width: 84px; }
  35% {-webkit-transform: translateY(-8px) rotate(-4deg);transform: translateY(-8px) rotate(-4deg); width: 60px; }
  53% {-webkit-transform: translateY(10px) rotate(3deg);transform: translateY(10px) rotate(3deg); width: 60px; }
  70% {-webkit-transform: translateY(-6px) rotate(0deg);transform: translateY(-6px) rotate(0deg); width: 60px; }
  100% { -webkit-transform: translateY(-2px) rotate(0deg) ; transform: translateY(-2px) rotate(0deg) ; width: 60px; }
}

@-webkit-keyframes bottomBar_close {
  0% {-webkit-transform: translateY(-8px) rotate(-45deg);transform: translateY(-8px) rotate(-45deg); width: 84px; }
  35% {-webkit-transform: translateY(-18px) rotate(6deg);transform: translateY(-18px) rotate(6deg); width: 60px; }
  53% {-webkit-transform: translateY(0px) rotate(-3deg);transform: translateY(0px) rotate(-3deg); width: 60px; }
  68% { -webkit-transform: translateY(-7px) rotate(0deg) ; transform: translateY(-7px) rotate(0deg) ; width: 60px; }
  100% { -webkit-transform: translateY(0px) rotate(0deg) ; transform: translateY(0px) rotate(0deg) ; width: 60px; }
}

@keyframes bottomBar_close {
  0% {-webkit-transform: translateY(-8px) rotate(-45deg);transform: translateY(-8px) rotate(-45deg); width: 84px; }
  35% {-webkit-transform: translateY(-18px) rotate(6deg);transform: translateY(-18px) rotate(6deg); width: 60px; }
  53% {-webkit-transform: translateY(0px) rotate(-3deg);transform: translateY(0px) rotate(-3deg); width: 60px; }
  68% { -webkit-transform: translateY(-7px) rotate(0deg) ; transform: translateY(-7px) rotate(0deg) ; width: 60px; }
  100% { -webkit-transform: translateY(0px) rotate(0deg) ; transform: translateY(0px) rotate(0deg) ; width: 60px; }
}

@-webkit-keyframes menuLabel_close {
  0% {-webkit-transform: translateY(30px);transform: translateY(30px); opacity: 0; }
  5% {-webkit-transform: translateY(25px);transform: translateY(25px); opacity: 1; }
  25% {-webkit-transform: translateY(-30px);transform: translateY(-30px); opacity: 1; }
  37% {-webkit-transform: translateY(-22px);transform: translateY(-22px); opacity: 1; }
  45% {-webkit-transform: translateY(-22px);transform: translateY(-22px); opacity: 1; }
  58% {-webkit-transform: translateY(8px) rotate(-10deg);transform: translateY(8px) rotate(-10deg); opacity: 1; }
  83% {-webkit-transform: translateY(-6px) rotate(0deg);transform: translateY(-6px) rotate(0deg); opacity: 1; }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 1; }
}

@keyframes menuLabel_close {
  0% {-webkit-transform: translateY(30px);transform: translateY(30px); opacity: 0; }
  5% {-webkit-transform: translateY(25px);transform: translateY(25px); opacity: 1; }
  25% {-webkit-transform: translateY(-30px);transform: translateY(-30px); opacity: 1; }
  37% {-webkit-transform: translateY(-22px);transform: translateY(-22px); opacity: 1; }
  45% {-webkit-transform: translateY(-22px);transform: translateY(-22px); opacity: 1; }
  58% {-webkit-transform: translateY(8px) rotate(-10deg);transform: translateY(8px) rotate(-10deg); opacity: 1; }
  83% {-webkit-transform: translateY(-6px) rotate(0deg);transform: translateY(-6px) rotate(0deg); opacity: 1; }
  100% { -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 1; }
}

#menu-btn {
  float: right;
  position: relative;
  text-align: center;
  width: 60px;
  height: 50px;
  margin-right: 30px;
  margin-top: 35px;
  
  &:before,
  &:after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: #FFF;
    display: block;
    position: absolute;
    border-radius: 20px;
  }
  
  &:before {
     -webkit-transform-origin: left center;
             transform-origin: left center;
    
  }
  
  &:after {
    right: 0;
    top: 15px;
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
  
  .text {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: normal;
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0;
    color: #b6b6b6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  &:hover {
    cursor: pointer;
  }
  
  &.open {    
    &:before {
      -webkit-animation: topBar_open $anim_time ease-in-out;
              animation: topBar_open $anim_time ease-in-out;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      right: -10px;
      top: -9px;
      height: 3px;
    }
    
    &:after {
      -webkit-animation: bottomBar_open $anim_time ease-in-out;
              animation: bottomBar_open $anim_time ease-in-out;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      height: 3px;

    }
    
    .text {
      -webkit-animation: menuLabel_open $anim_time ease-in;
              animation: menuLabel_open $anim_time ease-in;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
    }
    
  }
  
  &.close {    
    &:before {
      -webkit-animation: topBar_close $anim_time ease-in-out;
              animation: topBar_close $anim_time ease-in-out;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
    }
    
    &:after {
      -webkit-animation: bottomBar_close $anim_time ease-in-out;
              animation: bottomBar_close $anim_time ease-in-out;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
    }
    
    .text {
      -webkit-animation: menuLabel_close $anim_time ease-in;
              animation: menuLabel_close $anim_time ease-in;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
    }
    
  }
}