.header{
  width: 100%;
  max-width: 1920px;
  background-color: #000000;    
  position: fixed;

  &__nav {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &-link{
    color: #b6b6b6;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    &-link:hover{
      color: #FFFFFF;
    }
  }
  &__m-nav{
  display: none;
  }
  &__menu-btn {
    display: none;
  }
}